/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* form section */
.form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  gap: 8px;
}
.input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 16px;
}

.input:hover {
  border: 1px solid #000;
}

.input:focus {
  border: 1px solid #4e75ff;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}
.form-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border-color: #4e75ff;
}

.form-btn:hover,
.form-btn:focus {
  background: #6c8cff;
}

.loader {
  margin: 20px auto;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader.is-hidden {
  display: none;
}

.loader:not(.is-hidden) {
  display: block;
}

/* gallery section */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px;
  justify-content: center;
  list-style: none;
}

.gallery-item {
  width: 360px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.03);
}

.gallery-item img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  font-size: 14px;
  color: #333;
}

.info p {
  margin: 0;
}
